:root {
  --main-text: #141414;
  --main-hover: #94CFFF;
  --main-cyan: #26C7EA;
  --main-blue: #0B0E66;
}

body  {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--main-text);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
p, h4, h6, ul, button, blockquote {
  margin: 0;
  padding: 0;
}

div.container {
  width: 1062px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 150px;
  border-bottom: 3px solid #FFF;
  background-image:
    linear-gradient(to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)),
    url("../images/header_bgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-switch {
  position: absolute;
  top: 65px;
  right: 50px;
}

.header-switch span {
  font-family: 'Hammersmith One';
  font-weight: 400;
  color: #FFF;
  line-height: 1.25;
  font-size: 16px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  border: 2px solid #FFF;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--main-cyan);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--main-cyan);
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-home-link img {
  height: 72px;
}

.navigation-list {
  display: flex;
  column-gap: 40px;
}

.navigation-list-item a {
  font-weight: 300;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;

}

.navigation-list-item a:hover {
  color: var(--main-hover);
  font-weight: 600;
}

.blue_btn {
  border: solid var(--main-cyan) 2px;
  color: var(--main-cyan);
  background-color: var(--main-blue);
  font-family: 'Headland One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  padding: 10px 40px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  display: inline-block;
  text-align: center;
}
.trailer .blue_btn, .hero .blue_btn {
  height: 80px;
  border: solid var(--main-cyan) 3px;
}


.hero {
  background-image:
    linear-gradient(to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0)),
    url("../images/hero_bgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 100% 100%; */
  background-color: #2e4c64;
  background-size: cover;
}

.hero .container {
  padding: 180px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content-left {
  width: 376px;
}

.hero-text {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  margin: 0;
}

.hero-text:nth-child(1) {
  background-image: url("../images/arrow_white.png");
  background-repeat: no-repeat;
  background-position: bottom left 55px;
  padding-bottom: 40px;
}

.hero-text:nth-child(2) {
  margin-bottom: 50px;
}

.hero-content-right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.message .container {
  padding-top: 80px;
  padding-bottom: 140px;
  text-align: center;
  background-image: url("../images/message_bird.png");
  background-repeat: no-repeat;
  background-position: bottom 9px center;
}

.message-title {
  color: #0A3853;
  font-size: 36px;
  line-height: 1.22;
  margin: 0;
}

.message-author {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
  display: block;
  font-style: normal;

}

.trailer .container {
  padding: 330px 0;
  text-align: center;

}

.trailer {
  background-image: url("../images/trailer_bgr.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2e4c64;
  background-size: cover;
}

.navi {
  background-image: url("../images/navi_bgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2e4c64;
  background-size: cover;
}

.navi .container {
  padding-top: 65px;
  padding-bottom: 55px;
  text-align: center;
}

.navi-title {
  font-family: 'Headland One';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 44px;

}

.navi-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 20px;
}

.navi-list-item {
  width: 320px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 36px 0;
  font-family: 'Headland One';
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.navi-list .left {
  background-image: url("../images/arrow_left.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.navi-list .right {
  background-image: url("../images/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.navi-list .center {
  background-image: url("../images/arrow_left_right.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.navi-list-item-text-ukr {
  padding-bottom: 120px;
}

.footer {

  background-image: linear-gradient(to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)), url("../images/footer_bgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2e4c64;
  background-size: cover;
  height: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-img {
  width: 260px;
  height: 155px;
  border-right: #FFF solid 2px;
  display: flex;
  align-items: center;
}

.footer-text {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-email  {
  display: flex;
  gap: 10px;
}

.footer-email span {
  width: 400px;
  display: inline-block;
 
}
.line1 span {
  background-image: url("../images/line1.png");
  background-repeat: no-repeat;
  background-position: center right;
   
}
.line2 span {
  background-image: url("../images/line2.png");
  background-repeat: no-repeat;
  background-position: center right;
   
}
.footer-email,
.footer-email span {
  font-size: 20px;
  line-height: 1.2;
  color: #FFF;
  
}


.footer-copyright {
  color: #FFF;
  font-size: 14px;
  line-height: 1.21;
  padding-left: 260px;
}